@model AN.Ticket.WebUI.ViewModels.Contact.ContactDetailsViewModel

@if (Model != null && Model.Id != Guid.Empty)
{
    <div class="card my-3">
    <div class="card-body text-center">
        <!-- Imagem do Perfil -->
        @{
                var initials = Model.Name.Split(' ').Select(n => n[0]).Take(2).ToArray();
                string initialsString = new string(initials); // Concatena as iniciais
            }
            <div class="rounded-circle"
                style="width: 100px; height: 100px; background-color: green; display: flex; align-items: center; justify-content: center; color: white; font-size: 36px; margin: 0 auto;">
                <strong>@initialsString</strong>
            </div>
            <h5 class="card-title" style="margin-top: 5px;">@Model.Name</h5>
            <hr>
            <p class="card-text">
                <i class="bi bi-envelope" style="margin-right: 5px;"></i>@Model.Email
                <span class="mx-2">|</span>
                <i class="bi bi-telephone" style="margin-right: 5px;"></i>@Model.Phone
            </p>
            @{
                if (!string.IsNullOrEmpty(@Model.Department))
                {
                    <p class="card-text">
                        <i class="bi bi-building" style="margin-right: 5px;"></i>
                        @Model.Department
                    </p>
                }
            }

            <div class="card" style="padding: 5px; border-radius: 8px;">
                <div class="d-flex justify-content-around">
                    <div class="text-center">
                        <i class="bi bi-person-check" style="font-size: 24px;"></i>
                        <p style="margin: 0;"><strong>@Model.TotalTicketsAtribuied</strong></p>
                        <p style="margin: 0;">Total</p>
                    </div>
                    <div class="text-center">
                        <i class="bi bi-clock" style="font-size: 24px;"></i>
                        <p style="margin: 0;"><strong>@Model.TotalTicketsonHold</strong></p>
                        <p style="margin: 0;">Em Espera</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
else
{
    <div class="text-center">
    <p class="fs-3">Nenhum Contato escolhido</p>
    <p>Os detalhes sobre o Contato que você deseja inserir serão exibidos aqui.</p>
</div>
}
