<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Atlas Network</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AN.Ticket.WebUI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    @* Implementação do DataTable *@
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom navbar-light bg-white border-bottom mb-3">
            <div class="container-fluid">
                <button class="btn btn-offcanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <i class="bi bi-list" style="font-size: 1.5rem;"></i>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Atlas Network</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-bell" title="em desenvolvimento"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-gear" title="em desenvolvimento"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="themeToggleButton" title="em desenvolvimento"><i class="bi bi-moon"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="fullscreenButton"><i class="bi bi-arrows-fullscreen"></i></a>
                        </li>
                    </ul>
                    @await Component.InvokeAsync("UserDropdown")
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <div class="offcanvas-header">
            <div class="offcanvas-title" id="offcanvasSidebarLabel">
                @*                 <img src="" alt="Logo">
                *@                Atlas Network
            </div>
            <button type="button" class="offcanvas-close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="collapse" data-bs-target="#homeMenu" aria-expanded="false" aria-controls="homeMenu">
                        <i class="bi bi-speedometer2"></i>
                        <span class="ms-2">Home</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <div class="collapse" id="homeMenu">
                        <ul class="navbar-nav ps-3">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Dashboard" asp-action="Home"><i class="bi bi-house"></i> Overview</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="collapse" data-bs-target="#appFeaturesMenu" aria-expanded="false" aria-controls="appFeaturesMenu">
                        <i class="bi bi-ticket"></i>
                        <span class="ms-2">Ticket</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <div class="collapse" id="appFeaturesMenu">
                        <ul class="navbar-nav ps-3">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="Index"><i class="bi bi-grid me-1"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="UserTickets"><i class="bi bi-kanban me-1"></i>Seus Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="UnassignedTickets"><i class="bi bi-collection me-1"></i>Tickets não atribuidos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Ticket" asp-action="CreateTicket"><i class="bi bi-ticket-perforated me-1"></i>Criar novo ticket</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="collapse" data-bs-target="#appFeaturesCustomer" aria-expanded="false" aria-controls="appFeaturesCustomer">
                        <i class="bi bi-people"></i>
                        <span class="ms-2">Cliente</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <div class="collapse" id="appFeaturesCustomer">
                        <ul class="navbar-nav ps-3">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="GetContact"><i class="bi bi-person-lines-fill me-1"></i>Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="CreateContact"><i class="bi bi-person-add me-1"></i>Cadastrar Cliente</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="collapse" data-bs-target="#appFeaturesActivity" aria-expanded="false" aria-controls="appFeaturesActivity">
                        <i class="bi bi-activity"></i>
                        <span class="ms-2">Atividade</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <div class="collapse" id="appFeaturesActivity">
                        <ul class="navbar-nav ps-3">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Activity" asp-action="Index"><i class="bi bi-person-workspace me-1"></i>Atividades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Activity" asp-action="Create"><i class="bi bi-node-plus me-1"></i>Criar Atividade</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="collapse" data-bs-target="#financeMenu" aria-expanded="false" aria-controls="financeMenu">
                        <i class="bi bi-currency-dollar"></i>
                        <span class="ms-2">Relatório</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Atlas Network - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dataTable.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        document.getElementById('fullscreenButton').addEventListener('click', function () {
            if (!document.fullscreenElement) {
                document.documentElement.requestFullscreen().catch((err) => {
                    toastr.error(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
                });
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                }
            }
        });

        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            var successMessage = '@TempData["SuccessMessage"]';

            if (errorMessage) {
                toastr.error(errorMessage);
            }

            if (successMessage) {
                toastr.success(successMessage);
            }
        });
    </script>
    @*Implementação data table*@
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/datatables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
