@model AN.Ticket.WebUI.ViewModels.Team.ProfileSettingsViewModel

<div class="card p-4 mb-4">
    <h2 class="card-title mb-3">Perfil</h2>
    <div class="profile-container mb-4">
        <div class="profile-picture" id="profile-picture-div" style="cursor: pointer;">
            @if (!string.IsNullOrEmpty(Model.ProfilePicture))
            {
                <img src="@Model.ProfilePicture" alt="Profile Picture" class="profile-picture" style="object-fit: cover;" />
            }
            else
            {
                <i class="bi bi-person"></i>
            }
        </div>
        <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center gap-2">
            <form id="profile-picture-form" asp-action="UploadProfilePicture" asp-controller="Account" enctype="multipart/form-data" method="post">
                <input type="file" id="profile-picture-input" name="profilePicture" class="form-control mb-2" style="display: none;" onchange="this.form.submit()" />
                <button type="button" class="btn btn-primary" onclick="document.getElementById('profile-picture-input').click()">Atualizar perfil</button>
            </form>

            <form id="delete-profile-picture-form" asp-action="DeleteProfilePicture" asp-controller="Account" method="post">
                <button type="submit" class="btn btn-outline-secondary">Excluir</button>
            </form>
        </div>

    </div>
    <form asp-action="UpdateProfileDetails" asp-controller="Account" method="post">
        <div class="mb-3">
            <label for="fullName" class="form-label">Nome Completo</label>
            <input type="text" class="form-control" id="fullName" name="fullName" value="@Model.FullName">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="@Model.Email">
        </div>

        <div class="team-section">
            <h3 class="mb-2">Equipes</h3>

            @if (Model.Teams == null || !Model.Teams.Any())
            {
                <div class="alert alert-primary" role="alert">
                    Você não está em nenhuma equipe no momento.
                </div>
            }
            else
            {
                @foreach (var team in Model.Teams)
                {
                    <div class="mb-4">
                        <h5>@team.TeamName</h5>
                        <div class="row">
                            @foreach (var member in team.Members)
                            {
                                <div class="col-12 col-sm-6 col-md-3 mb-3">
                                    <div class="d-flex align-items-center team-card p-2">
                                        @if (!string.IsNullOrEmpty(member.ProfilePicture))
                                        {
                                            <img src="@member.ProfilePicture" class="profile-picture me-2" alt="Profile Picture" style="width: 50px; height: 50px; object-fit: cover;" />
                                        }
                                        else
                                        {
                                            <div class="profile-not-picture me-2" style="width: 50px; height: 50px;">
                                                @GetInitials(member.FullName)
                                            </div>
                                        }
                                        <div>
                                            <strong>@member.FullName</strong>
                                            <div class="team-role">@member.Email</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <button type="submit" class="btn btn-dark mt-4 w-100">Salvar Alterações</button>
    </form>
</div>

@functions {
    public static string GetInitials(string fullName)
    {
        if (string.IsNullOrEmpty(fullName))
            return string.Empty;

        var names = fullName.Split(' ');
        if (names.Length == 1)
            return names[0].Substring(0, 1).ToUpper();

        return (names[0].Substring(0, 1) + names[names.Length - 1].Substring(0, 1)).ToUpper();
    }
}